

/* CSS example*/

html {
  scroll-behavior: smooth;
}

html,
header,
ul,
body,
img,
p,
a,
nav,
div,
h2,
h1,
h3,
h4,
h5,
h6,
h7,

a {
  color: #111;
}

p {
  margin-top: 50px;
}

body {
  font-family:'MS sans Serif';
  font-size: 16px;
  color: #111;
  background-color: #ecf3ee;
  margin-left: 50px;
  margin-right: 50px;
  ligne-height: 1.5;
}

h1 { 
  margin-top:30px;
  margin-bottom:20px;
  margin-left:280px;
  font-size: 20px;
}

h2 {
  margin-top:10px;
  margin-left:280px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: normal;
}

h3 {
  margin-left:280px;
  font-size: 14px;
  font-weight: normal;
}

h4 {
  margin-left:280px;
  font-size: 14px;
  font-weight: normal;
  color: #619574;
}

h5 {
  font-size: 20px;
  color: #c67316;
}

h6 {
  margin-bottom: 5px;
  font-size: 16px;
  color: #619574;
}

h7{
  margin-bottom: 5px;
  font-size: 16px;
  color: black;
}

h8{
  font-size: 15px;
  color: #5c5250;
}

nav {
  position: fixed;
  overflow: hidden;
  background-color: white;
  opacity: 0.5;
  top:0;
  height:100%;
  width: 15%;
  text-align: left;

}

nav ul {
    list-style-type: none;
    font-family: "Verdana", sans-serif;
    font-size: 15px;   
    background-color: white;
}

li {
  color: #111;
}


li a {
    display : block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: #25803b;
}

 .active {
    color: #25803b;
}

.main {
  margin-left: 230px;
  margin-right: 30px;
}

.home {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 16px;
}

.home img {
  margin-top: 0px;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  border-radius: 50%;
  float:left;
}

.research {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 16px;
}

.teaching {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 16px;
}

.implications {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 5px;
  font-size: 16px;
}
