html {
  scroll-behavior: smooth;
}

html,
header,
nav,
ul,
body,
img,
p,
div,
h1,

a {
  color: #000;
  text-decoration: none;
  position: relative;
}

h1 {
  text-align: left;
  font-size: 40px;
  font-family: "Verdana", sans-serif;
  font-weight: normal;
  margin-bottom: 30px;
}

nav {
  position: fixed;
  overflow: hidden;
  background: #76a5af;
  text-align: center;
  width: 250px;
  height: 100%;

  margin-left: 200px;
}

nav img {
  border-radius: 50%;
  margin-top: 30px;
  width: 170px;
  height: 170px;
}

.headname {
  font-size: 30px;
  font-family: "Ma Shan Zheng", cursive;
  margin-top: 20px;
  margin-bottom: 20px;
}

nav ul {
  font-family: "Titillium Web", sans-serif;
  line-height: 50px;
  font-size: 20px;

  width: 100%;
  background-color: rgb(255, 255, 255);
}
li {
  color: #000;
}

nav a:after {
  border-radius: 1em;
  border-top: 0.1em solid #1799b6;
  content: "";
  position: absolute;
  right: 100%;
  bottom: 0.14em;
  left: 0;
}

nav a:hover:after {
  right: 0;
}

.main {
  margin-left: 470px;
}

.home {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
}

.home img {
  margin-top: 100px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.namestart {
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nameabout {
  font-family: "Verdana", sans-serif;
  text-align: left;
  line-height: 30px;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 10px;
}

.contact {
  font-family: "Verdana", sans-serif;
  text-align: left;  
  font-size: 10px;
  margin-top: 30px;
  margin-bottom: 30px;

}
.about {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.html {
  border-radius: 20px;
  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 90%;
  background-color: #1799b6;
}

.js {
  border-radius: 20px;

  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 80%;
  background-color: #1799b6;
}
.php {
  border-radius: 20px;
  text-align: right;
  font-size: 25px;
  height: 100%;
  width: 75%;
  background-color: #1799b6;
}

.wp {
  text-align: right;
  font-size: 25px;
  height: 100%;
  border-radius: 20px;
  width: 80%;
  background-color: #1799b6;
}

.jm {
  text-align: right;
  border-radius: 20px;
  font-size: 25px;
  height: 100%;
  width: 65%;
  background-color: #1799b6;
}


/* /////////////////////footer///////////////////////////////// */

footer p {
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-top: 200px;
  text-align: right;
}

/* //////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1440px) {
  nav {
    margin-left: 0;
  }

  .skills {
    width: 100%;
  }
  .service-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: none;
  }

  .main {
    margin: 0;
  }

  .skills {
    width: 100%;
  }

  .service-details div {
    width: 100%;
    height: 100%;
    margin-bottom: 60px;
  }
}


